    body {
      background-color: black;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      overflow: hidden;
    }

    .glow-circle {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      background-color: transparent;
      box-shadow: 0 0 20px 10px rgba(0, 0, 255, 0.8);
      animation: pulse 2s infinite;
      
    }

    .inner-circle{
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-color: transparent;
      box-shadow: 0 0 20px 10px rgba(233, 12, 122, 0.8);
      position: relative;
      left: 50px;
      top: 50px;
      animation: pulse1 2s infinite;
    }

    @keyframes pulse {
      0% {
        box-shadow: 0 0 20px 10px rgba(0, 0, 255, 0.8);
      }
      50% {
        box-shadow: 0 0 40px 20px rgba(0, 0, 255, 0.6);
      }
      100% {
        box-shadow: 0 0 20px 10px rgba(0, 0, 255, 0.8);
      }
    }

     @keyframes pulse1 {
      0% {
        box-shadow: 0 0 20px 10px rgba(233, 12, 122, 0.8);
      }
      50% {
        box-shadow: 0 0 40px 20px rgba(233, 12, 122, 0.6);
      }
      100% {
        box-shadow: 0 0 20px 10px rgba(233, 12, 122, 0.8);
      }
    }